@use "../../global" as g;

/*!
page > service-types
------------------------------
*/

.service-types {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48rem;

  @include g.mq() {
    grid-template-columns: 1fr 512rem;
    gap: 80rem;
    align-items: center;
  }
}

.service-types-content {
}

.service-types-text {
  margin-top: 24rem;

  span {
    display: block;
  }
}

.service-types-list-wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24rem;

  @include g.mq() {
    gap: 16rem;
  }
}

.service-types-list {
  display: grid;
  grid-template-columns: repeat(2, 160rem);
  justify-content: space-between;
}

.service-types-list--first {
  @include g.mq() {
    display: flex;
    justify-content: center;
    gap: 16rem;
  }
}

.service-types-list--second {
  grid-template-rows: repeat(2, 1fr);
  gap: 24rem;

  @include g.mq() {
    grid-template-rows: 1fr;
    gap: 0;
  }
}

.service-types-item {
  background: var(--color-bg-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  border-radius: 6rem;

  @include g.mq() {
    width: 160rem;
  }
}

.service-types-item--photo {
  @include g.mq() {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.service-types-item--movie {
  @include g.mq() {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

.service-types-item--wedding {
  @include g.mq() {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.service-types-item--edit {
  @include g.mq() {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.service-types-item--banner {
  @include g.mq() {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}

.service-types-item-title-en {
  font-size: 12rem;
  color: var(--color-primary);
  line-height: 1;
  text-transform: capitalize;
}

.service-types-item-title-ja {
  font-size: 14rem;
  line-height: 1.3;
  margin-top: 6rem;
  text-align: center;

  span {
    display: block;
  }
}

.service-types-item-icon {
  display: block;
  width: 64rem;
  aspect-ratio: 1/1;
  margin-top: 12rem;
}
