@use "../../global" as g;

/*!
page > contact-thanks
------------------------------
*/

.contact-thanks-btn-wrap {
  margin-top: 48rem;
  text-align: center;
  text-transform: capitalize;

  @include g.mq() {
    margin-top: 56rem;
  }
}
