/*!
global > color
------------------------------
*/

:root {
  --color-font-base: #1f1f1f;
  --color-primary: #1e5aa8;
  --color-white: #ffffff;
  --color-font-light: #888888;
  --color-bg-extra-light: #fafafa;
  --color-bg-light: #f2f2f2;
  --color-border: rgba(31, 31, 31, 0.15);
  --color-icon-bg: #e6e6e6;
}
